extends layout

block content
  nav
   input(type='search' id='pokesearch' name='pokesearch' placeholder='Search...')
 
  .parent
        each pokemon in pokemons  
           .profile
              h2= pokemon.ename
                span #{pokemon.id}
              ul
                each typetag in pokemon.type
                  li(class='type ' + typetag)
              ul
                li.stat HP: #{pokemon.base.hp}
                li.stat ATT: #{pokemon.base.att}
                li.stat DEF: #{pokemon.base.def}
                li.stat S. ATT: #{pokemon.base.satt}
                li.stat S. DEF: #{pokemon.base.sdef}
                li.stat SPD: #{pokemon.base.spd}
  footer
    button(type='button' class='button button-outline fullzise' id='btnMore') Load more
  script(src='https://unpkg.com/umbrellajs')
  script(src='/javascripts/progressive.js')
  script(src='/javascripts/searching.js')